<div class="movie_image">
  <img src="<%= @results['Poster'] %>"/>
</div>

<div class="movie_details">
<%= @results['Title'] %> 
<p>
<%= @results['Year'] %> 
<p>
<%= @results['Runtime'] %> 
<p>
<%= @results['Plot'] %> 
</div>